<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; margin: 50px; }
        .container { max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
        input, button { padding: 10px; margin-top: 10px; width: 100%; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Enter city name" required>
            <button type="submit">Get Weather</button>
        </form>
        
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        
        {% if pay %}
            <h2>Weather in {{ pay.city }}</h2>
            <p>Temperature: {{ pay.temp }}°C</p>
            <p>Feels Like: {{ pay.feels_like }}°C</p>
            <p>Humidity: {{ pay.humidity }}°C</p>
            <p>wind speed: {{ pay.wind_speed }}°C</p>
    
        {% endif %}
    </div>
</body>
</html>
